@import url(fonts.css); 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    list-style: none;
    text-decoration: none !important;
}
body {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    background-color: var(--whiteColor);
}
:root {
    --violetColor: #7177F1;
    --whiteColor: #ffffff;
    --blackColor: #323232;
}
.header {
    margin-bottom: 25px;
}
.navbar-brand {
    padding: 0 !important;
    margin: 0 !important;
}
.header__logo {
    font-family: 'Trebuchet MS';
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    line-height: 28px;
    color: var(--blackColor);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding-left: 15px !important;
}
.header__span {
    font-style: normal;
    color: var(--violetColor);
}
.header__bars {
    position: relative;
    width: 27px;
    height: 1px;
    background: var(--blackColor);
    margin-right: 3px;
}
.header__bars::before,
.header__bars::after {
    content: '';
    position: absolute;
    height: 100%;
    background: var(--blackColor);    
}
.header__bars::before {
    width: 18px;
    top: -7px;
    right: -3px;
}
.header__bars::after {
    width: 36px;
    top: 7px;
    right: 3px;
}
.header__bright {
    position: relative;
    width: 27px;
    left: 14px;
    box-shadow: 0 0 10px 1px rgba(113, 119, 241, 0.8) ;
}
.header__bright::before,
.header__bright::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--violetColor);
    filter: blur(1px);
}
.header__bright::before {
    top: -7px;
}
.header__bright::after {
    top: 7px;
}
.header__link {
    font-size: 24px;
    line-height: 16px;
    color: var(--violetColor) !important;
    text-transform: capitalize;
    padding: 0 !important;
}
.navbar {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}
.header__order {
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    background: var(--violetColor);
    padding: 10px 43px !important;
    color: var(--whiteColor) !important;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 4px var(--violetColor) !important;
}
.slider__title {
    font-weight: 600;
    font-size: 24px;
    color: var(--blackColor);
    text-transform: capitalize;
    line-height: 22px;
    margin-bottom: 10px;
}
.slider__desc {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-transform: capitalize;
    color: var(--violetColor);
    margin-bottom: 25px;
}
.slider__txt {
    max-width: 520px;
    width: 100%;
    margin-bottom: 50px;
}
.slider__btn {
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    padding: 12px 58px;
    color: var(--whiteColor) !important;
    background: var(--violetColor) !important;
    text-transform: uppercase;
    display: block;
    width: max-content;
    margin: 0 auto;
}
.slider__icons-span {
    text-transform: uppercase;
    color: var(--violetColor);
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
}
.carousel-indicators {
    position: static;
    margin: 50px 0 74px;
}
.carousel-indicators button {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    background: #828282 !important;
    border: 0 !important;
    opacity: 1 !important;
    margin: 0 15px !important;
}
.carousel-indicators button.active {
    background: var(--violetColor) !important;
}
.slider__img {
    max-width: 550px;
    width: 100%;
    display: block;
    /* margin-left: 24px; */
}
.front {
    margin-bottom: 76px;
    position: relative;
    display: flex;
    align-items: center;
}
.front__bg {
    position: absolute;
    right: 0;
    bottom: -255px;
    z-index: -1;
}
.front__pic {
    position: relative;
}
.front__img {
    max-width: 460px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.front__label {
    position: absolute;
    margin: 0 !important;
    box-shadow: 0px 0px 20px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    background: var(--whiteColor);
    padding: 24px 31px 23px 19px;
    color: var(--blackColor);
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    left: 0;
    top: 14px;
}
.front__five {
    border-radius: 50%;
    background: #0FDAC2;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-style: italic;
    color: var(--whiteColor);
    position: absolute;
    top: -14px;
    right: -9px;
}
.front__content {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    background: var(--whiteColor);
    padding: 30px;
    height: 100%;
}
.front__title {
    text-transform: capitalize;
    color: var(--violetColor);
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 25px;    
}
.front__list {
    text-transform: capitalize;
    font-size: 18px;
    line-height: 27px;
    color: var(--blackColor);
    margin-bottom: 20px !important;
    padding: 0 !important;
}
.front__list li:first-of-type {
    margin-bottom: 36px;
}
.front__btn {
    padding: 14px 33px;
    background: var(--violetColor);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    color: var(--whiteColor);
    text-transform: uppercase;
    font-size: 18px;
    line-height: 100%;
    display: block;
    width: max-content;
    margin-left: 80px;
}
.cap {
    margin-bottom: 85px;
}
.cap__title {
    text-align: center;
    text-transform: capitalize;
    color: var(--violetColor);
    font-weight: 600;
    line-height: 48px;
    font-size: 40px;
    margin-bottom: 20px !important;
}
.cap__img {
    max-width: 630px;
    width: 100%;
    margin: 0 auto;
    display: block;
}
.accordion-button {
    padding: 15px 30px;
    color: var(--violetColor);
    text-transform: uppercase;
    line-height: 22px;
    font-size: 18px;
    font-weight: 900;
}
.accordion-button span {
    margin-left: 20px;
    display: inline-block;
}
.accordion-button:focus {
    box-shadow: none;
    border-color: none;
}
.accordion-button:not(.collapsed) {
    background: var(--violetColor) !important;
    color: var(--whiteColor) !important;
    box-shadow: none !important;
}
.accordion-button::after {
    content: '\f0d8';
    background-image: none;
    width: auto;
    height: auto;
    color: var(--violetColor);
    font-size: 25px;
    font-family: "Font Awesome 5 Pro";
}
.accordion-button:not(.collapsed)::after {
    background-image: none !important;
    color: var(--whiteColor) !important;
}
.accordion-body {
    background: var(--violetColor);
    color: var(--whiteColor);
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    padding: 10px 30px 55px;
}
.accordion {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    overflow: hidden;
}
.accordion-item {
    border: none;
}
.accordion-button i {
    font-size: 30px;
    font-weight: 500;
}
.accordion-button::before {
    content: '';
    background: #DDDDDD;
    border-radius: 8px;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 10px;
}
.accordion-item:last-child .accordion-button::before {
    display: none;
}
.accordion-button:not(.collapsed)::before {
    display: none;
}
.works {
    margin-bottom: 220px;
    position: relative;
    display: flex;
    align-items: center;
}
.works__bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: -230px;
}
.works .nav-pills {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    overflow: hidden;
}
.works .nav-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--violetColor);
    text-transform: uppercase;
    text-align: left;
    background: var(--whiteColor);
    padding: 19px 20px;
    border-radius: 0 !important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
}
.nav-pills .nav-link.active {
    background: var(--violetColor);
    color: var(--whiteColor);
}
.works__content {
    background: var(--whiteColor);
    border-radius: 8px;
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    padding: 20px 30px 20px 20px;
}
.works__txt {
    max-width: 630px;
    width: 100%;
    margin-left: 30px;
}
.works__headline {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: var(--violetColor);
    margin-bottom: 25px;
}
.works__list {
    font-size: 18px;
    line-height: 27px;
    color: var(--blackColor);
    margin-bottom: 20px;
    text-transform: capitalize;
    padding: 0 !important;
}
.works__list li:first-of-type {
    margin-bottom: 37px;
}
.works__btn {
    background: var(--violetColor);
    border-radius: 8px;
    color: var(--whiteColor);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    padding: 12px 62px;
    display: block;
    width: max-content;
    text-transform: capitalize;
    margin-left: 30px;
}
.footer {
    padding-bottom: 133px;
    position: relative;
}
.footer__logo {
    padding-left: 0 !important;
    margin-bottom: 30px !important;
}
.footer__link {
    font-size: 24px;
    line-height: 29px;
    color: var(--violetColor);
    font-weight: 400;
    text-transform: capitalize;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}
.footer__list, .footer__elem {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}
.footer__list {
    margin-bottom: 15px !important;
}
.footer__link::after {
    content: '';
    width: 100%;
    transform: scaleX(0);
    background: var(--violetColor);
    height: 1px;
    transition: 300ms;
    position: absolute;
}
.footer__link:hover::after {
    transform: scaleX(1);
}
.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    border: 5px solid #790FF1;
}
.circle1 {
    width: 73px;
    height: 73px;
    left: 125px;
    bottom: 94px;
}
.circle2 {
    left: 60%;
    top: -180px;
}
.circle3 {
    width: 120px;
    height: 120px;
    border-color: #7177F1;
    left: 128px;
    bottom: 73px;
    z-index: -2;
}
.cap__acc {
    position: relative;
}
.circle4 {
    left: 28px;
    top: -54px;
    border-color: #9297EF;
}
.cube {
    position: absolute;
    border: 5px solid #7177F1;
    width: 98px;
    height: 98px;
}
.cube1 {
    right: 89px;
    bottom: 55px;
    transform: rotate(40deg);
}
.circle5 {
    border-color: #9297EF;
    right: 114px;
    bottom: -85px;
}
.circle6 {
    left: 243px;
    top: -60px;
}
.cube2 {
    width: 80px;
    height: 80px;
    border-color: #9297EF;
    transform: rotate(45deg);
    top: 17px;
    left: 34px;
}
.cube3 {
    border-color: #9297EF; 
    right: 159px;
    top: 11px;
}
.cube4 {
    width: 80px;
    height: 80px;
    transform: rotate(-41deg);
    right: 16%;
    bottom: 185px;
}